.App {
  width: 100%;
  text-align: center;
  background-color: #f3f2ef;
}

#home-page {
  margin-top: 60px;
}

.col-md-1,
.col-md-4,
.col-md-7 {
  height: 100%;
}

.col-md-1 a img {
  height: 100%;
}

.col-md-4 {
  padding: 0.25rem;
}

.form-inline {
  width: 100%;
}

.form-inline .input-group {
  width: 100%;
}

.form-inline .input-group input {
  width: 100%;
}

.footerbutton {
  background-color: white !important;
  border-radius: 0;
  color: black;
}

.search-result-popup {
  position: fixed;
  z-index: 1200;
  top: 9%;
  left: 13%;
  width: 35%;

  max-height: calc(100vh - 210px);
  overflow-y: auto !important;
  overflow-x: hidden;
}

.search-result-popup .list-group-item:hover {
  cursor: pointer;
}
.search-result-popup a {
  text-decoration: none;
  color: black;
}
.search-result-popup .user-avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.search-result-popup .user-name {
  font-weight: bold;
  margin-left: 0;
}
.search-result-popup .user-info {
  color: rgb(97, 96, 96);
  font-size: 13px;
  margin-top: 0.11rem !important;
}

.card-header {
  background: rgb(136, 140, 162);
  background: linear-gradient(
    90deg,
    rgba(136, 140, 162, 1) 57%,
    rgba(144, 146, 165, 1) 57%,
    rgba(230, 214, 202, 1) 82%,
    rgba(193, 195, 191, 1) 82%,
    rgba(89, 140, 161, 1) 100%
  );
}
.discover:hover {
  background-color: rgb(228, 215, 215);
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  /* position: absolute !important; */
  white-space: nowrap;
  width: 1px;
}

.links {
  color: grey;
}

.editAdd {
  border-radius: 13px;
}

.links:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}
/* input[type="file"] + label {
} */

.add-photo-icon:hover {
  cursor: pointer;
}

.preview-image-modal .modal-content {
  margin-bottom: 120%;
  margin-left: -50%;
}

.preview-image-modal .modal-dialog .modal-content {
  height: 90%;
}

.preview-image-modal .modal-content {
  background-color: transparent !important;
  border: none !important;
}
