@import "../../css/SASS/Compatibilites";
#main-msg {
  width: 60%;
  header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .currentChat {
    width: 100%;
    height: 40px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      @include borderRadius(50%);
      margin-right: 0.5rem;
    }
    p {
      margin: 0;
    }
  }
  .msg-dialog {
    height: 40%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 20px;
    overflow-y: auto;

    #messages {
      list-style: none;
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    #messages li {
      max-width: 49%;
      padding: 0.5rem 1rem;
      margin-bottom: 0.25rem;
      border-radius: 20px;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.15);
    }

    .ownMessage {
      list-style-type: none;
      text-decoration: none;
      align-self: flex-end;
      background-color: #00ff84;
      color: #0d0e0e;
      border-radius: 50px;

      border-top-right-radius: 0 !important;
    }

    .message {
      text-align: left;
      list-style-type: none;
      text-decoration: none;
      align-self: flex-start;
      background-color: #ffffff;
      color: rgba(0, 0, 0, 0.9);
      border-top-left-radius: 0 !important;
      &:hover {
        background-color: #ebebeb;
      }
    }
  }
  .msg-sender {
    display: flex;
    height: 20%;
    input {
      height: 100%;
      width: 80%;
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      background-color: white;
      padding: 0.5rem 1rem;
    }
    button {
      height: 100%;
      width: 20%;
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      background-color: white;
      padding: 0.5rem 1rem;
    }
  }
  .media-uploads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .media-icons {
      font-size: 1.5rem;
      color: rgba($color: #000000, $alpha: 0.6);
      .fas,
      .far,
      span {
        margin: 0 0.5rem;
      }
    }
    .msg-options {
      button {
        background-color: grey;
        border: none;
        border-radius: 20px;
        width: 60px;
        padding: 0 0.7rem;
        margin-right: 0.5rem;
      }
      .fas {
        font-size: 1.3rem;
        color: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }
}
