@import '../../css/SASS/Compatibilites';
.my-react{
    img{
        width: 24px;
        height: 24px;
    }
}
.like-button{
    &:hover{
        .reactions{
            opacity: 1;
        }
    }
    .reactions{
        position: absolute;
        top: -35px;
        opacity: 0;
        @include borderRadius(9999px);
        background-color: #f3f2ef;
        padding: 5px 10px;
        .reaction-list{
            display: flex;
            .new-reactions{
                display: flex;
                align-items: center;
                margin: 0 .2rem;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    display: flex;
    z-index: 1;
}