#landing-page {
  display: block;
  height: 100vh;
  background: url("https://i.ibb.co/qJcWrcq/In-compliance-web-banner-with-icon-set-that-shows-a-company-passed-inspection.jpg");
  background-size: cover;
  z-index: 20;
  .title {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2rem;
    text-align: right;
    color: white;
    background-color: rgba($color: white, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
    h1 {
      font-size: 6rem;
      font-weight: 900;
      -webkit-text-stroke: 2px black;
    }
    p {
      font-size: 1rem;
      font-weight: 600;
      -webkit-text-stroke: 0.5px black;
    }
  }
  #login {
    width: 35%;
    height: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: margin-left 1s ease;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba($color: black, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 70%;
      border: 1px solid rgba($color: black, $alpha: 0.3);
      border-radius: 5px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0.5rem 0;
      }
      input:nth-of-type(3) {
        margin-top: 1rem;
        background-color: #005d9a;
        border: white;
        padding: 5px;
        color: white;
      }
    }
    .not-register {
      position: absolute;
      bottom: 0;
    }
  }
}
